.login-failed,
.register-success {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  width: 65%;
  background-color: red;
}

.login-failed-text,
.register-success-text {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  color: aliceblue;
}

.A {
  background-color: rgba(248, 248, 248, 0.2);
  border-radius: 5%;
  height: 100%;
  margin-bottom: 10%;
  padding-bottom: 15%;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
