<div style="height: 100%; margin: auto;">
  <div class="row justify-content-center" style="height: 100%; padding-top: 10%;">
    <div class="col-md-6" style="margin-left: 25%;">
      <div class="card A">
        <div class="card-header" style="text-align: center">
          <h1 style="color:white; font-size: 40px; font-family: Arvo; padding: 1%;">Login</h1>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group row">
              <label for="user_name" class="col-md-4 col-form-label text-md-right"
                     style="font-weight: bold;color: #000000; padding-left: 15%; padding-top: 1%;">Username</label>
              <div class="col-md-6">
                <input type="text" id="user_name" class="form-control" [formControlName]="'username'" name="user_name"
                       required autofocus>
                <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched" style="color: red;">
                  Please provide a valid username
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right"
                     style="font-weight: bold; color: #000000; padding-left: 15%; padding-top: 1%">Password</label>
              <div class="col-md-6">
                <input type="password" id="password" class="form-control" [formControlName]="'password'" name="password"
                       required>
                <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" style="color: red;">
                  Password cannot be empty
                </span>
              </div>
            </div>

            <span class="col-md-6 offset-md-4">
              <button type="submit" class="submit" align="center" style="margin-left: 88%;">
                Login
              </button>
              <span style="padding-left: 15px ;font-weight: bold; color: #000000;">New User? <a
                routerLink="/auth/Signup">SIGN
                  UP</a></span>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
